<?xml version="1.0"?>
<NodeCsConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<NodeCsSettings>
		<Application>NodeCsMusicStore</Application>
		<Factories>
			<ControllersFactory>Node.Cs.Lib.Controllers.BasicControllersFactory</ControllersFactory>
		</Factories>
		<Security>
			<LoginPage>/Account/LogOn</LoginPage>
			<AuthenticationType>Form</AuthenticationType>
			<Realm>Node.Cs</Realm>
		</Security>
		<Threading>
			<ThreadNumber>16</ThreadNumber>
			<MaxExecutingRequest>9999999</MaxExecutingRequest>
			<MaxConcurrentConnections>9999999</MaxConcurrentConnections>
			<MaxMemorySize>2000000000</MaxMemorySize>
		</Threading>
		<Debugging>
			<Debug>true</Debug>
			<DebugAssemblyLoading>true</DebugAssemblyLoading>
		</Debugging>
		<Paths>
			<WebPaths>
				<PathProvider ClassName="Node.Cs.Lib.PathProviders.FileSystemPathProvider" ConnectionString="App_Web">
				</PathProvider>
			</WebPaths>
			<BinPaths>
				<Path>App_Bin</Path>
			</BinPaths>
			<DataDir>App_Data</DataDir>
		</Paths>
		<Listener>
			<Port>8081</Port>
			<ServerNameOrIp>*</ServerNameOrIp>
			<ServerProtocol>http</ServerProtocol>
			<SessionTimeout>1200</SessionTimeout>
			<Cultures Default="en-US" Available="fr-FR,it-IT"/>
			<RootDir />
		</Listener>
		<Plugins>
			<Plugin Dll="Node.Cs.Admin.dll"/>
			<Plugin Dll="Node.Cs.EntityFramework.dll"/>
		</Plugins>
		<Handlers>
			<Handler Dll="Node.Cs.Razor.dll" ClassName="Node.Cs.Razor.RazorHandler">
				<Extensions>
					<Extension>cshtml</Extension>
				</Extensions>
			</Handler>
			<Handler ClassName="Node.Cs.Lib.Static.StaticHandler">
				<Extensions>
					<Extension>html</Extension>
					<Extension>htm</Extension>
				</Extensions>
			</Handler>
		</Handlers>
		<ConnectionStrings>
			<ConnectionString DataSource="Data Source=|DataDirectory|NodeCsMusicStore.sdf" Name="MusicStoreEntities" Provider="System.Data.SqlServerCe.4.0"/>
		</ConnectionStrings>
		<DbProviderFactories>
			<Factory InvariantName="System.Data.SqlServerCe.4.0" Type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</DbProviderFactories>
	</NodeCsSettings>
	<EntityFrameworkSettings>
		<DefaultConnectionFactory Type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
			<Parameters>
				<Parameter Value="System.Data.SqlServerCe.4.0" />
			</Parameters>
		</DefaultConnectionFactory>
		<Providers>
			<Provider InvariantName="System.Data.SqlClient" Type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
			<Provider InvariantName="System.Data.SqlServerCe.4.0" Type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
		</Providers>
	</EntityFrameworkSettings>
</NodeCsConfiguration>